<template>
  <div class="v-text" ref="VTextRef">
    <div
      :style="{ verticalAlign: props.element.style.verticalAlign }"
      v-html="props.element.propValue"
    ></div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps(['element']);
const VTextRef = ref();
defineExpose({VTextRef});
</script>

<style lang="scss" scoped>
.v-text {
  display: table;
  user-select: none;

  div {
    display: table-cell;
    width: 100%;
    height: 100%;
    outline: none;
    word-break: break-all;
    padding: 4px;
  }
}
</style>
