<script setup lang="ts" name="TopToolbar">
import useSnapshot from "@/stores/snapShot";
import useComponentData from "@/stores";
import useCanvansData from "@/stores/canvansData";
import { ref } from "vue";
import Preview from "./Preview/index.vue";
import { ElMessage } from "element-plus";
const snapshotStore = useSnapshot();
const componentStore = useComponentData();
const canvansStore = useCanvansData();
const isShowPreview = ref(false);
const undo = () => {
  snapshotStore.undo();
};
const redo = () => {
  snapshotStore.redo();
};
const handlePreviewChange = () => {
  isShowPreview.value = false;
};
const save = () => {
  localStorage.setItem('canvasData', JSON.stringify(componentStore.componentData));
  localStorage.setItem('canvasStyle', JSON.stringify(canvansStore.canvansStyleData));
  ElMessage({
    message: '保存成功',
    type: 'success',
  })
}
</script>

<template>
  <div class="toolbar">
    <el-row class="mb-4">
      <el-button type="primary" @click="undo">撤销</el-button>
      <el-button type="primary" @click="redo">重做</el-button>
      <el-button type="primary" @click="isShowPreview = true">预览</el-button>
      <el-button type="primary" @click="save">保存</el-button>
    </el-row>
  </div>
  <!-- 预览 -->
  <Preview v-if="isShowPreview" @close="handlePreviewChange" />
</template>

<style lang="scss" scoped>
.toolbar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
</style>
