<template>
  <div class="app">
    <router-view></router-view>
  </div> 
</template>

<script setup lang="ts">
import { onBeforeMount } from 'vue';
import listenGlobalKeyDown from './utils/shortcutKey';

onBeforeMount(() => {
  // 监听用户的按键操作，在按下特定按键时触发对应的操作
  listenGlobalKeyDown();
});
</script>

<style scoped>
  .app {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
  }
</style>
